@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,900&family=Ubuntu:wght@400;700&display=swap');
 
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;

    font-size: 1em;
    box-sizing: border-box;

}

/*
paletas de cores
verde :#49a09d  
lilás:#5f2c82
*/

body,html{
    background-color: #5f2c82;
    height:100vh;
    width: 100vw;
    box-sizing: border-box;
}

main{
    position: relative;    
    height: 100vh;
    width: 100vw;

}


#login{
    background-color: white;
    width:70vw;
    height:515px;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 9px black;

   position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}
#login>#imagem{
    display: block;
    background: #5f2c82  url('../img/pexels-sevenstorm-juhaszimrus-443383.jpg') no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

#formulário{
    display: block;
    padding: 10px;
}

#formulário> h1{
    text-align: center;
    margin:10px;
}

#formulário> p{
    font-size: .8em;
    text-align: center;
    max-width: 60vw;
    margin: auto;
}


.campo{
    background-color: #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
    
}

label{
    display:none;
}
 
form > input[type=submit]{
    display:block;
    font-size: .8em;
    width:100%; 
    height: 40px;
    background-color: #49a09d;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #2f6c6a;
}

form > a.botao{
    display:block;
    font-size: .8em;
    width:100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #2f6c6a;
    border:1px solid #2f6c6a ;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover{
    color: #49a09d;
    background-color: #2f6c6a;
}
 
